/* Set every element's box-sizing to border-box */
html {
    box-sizing: border-box;
    font-size: 10px;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-size: 1.6rem;
}

.container {
    display: flex;
    padding: 2rem;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

aside {
    padding: 10px 20px;
    width: 250px;
    border-right: 1px solid #111;
}

button {
    cursor: pointer;
    background-color: #fff;
    border: solid 1px #111;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.4rem;
}

main {
    flex: 1;
    padding: 1rem 2rem;
}

h2 {
    border-bottom: 1px solid #111;;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin: 0 0 2rem;
}

h3 {
    background-color: #fff;
    border-bottom: 1px solid #111;;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin: 2rem 0 0;
}

.person {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 1rem;
}